.l-opening {
  background: url("./images/background-op.png");
}
.l-entrance {
  background-image: url("./images/background01.png");
  background-size: cover;
}
.l-workspace {
  background-image: url("./images/background02.png");
  background-size: cover;
}
