@charset "UTF-8";
/*!
 * ress.css • v3.0.1
 * MIT License
 * github.com/filipelinhares/ress
 */
@import url("https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c");
html {
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
  word-break: normal;
  -moz-tab-size: 4;
  tab-size: 4; }

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit; }

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit; }

* {
  padding: 0;
  margin: 0; }

hr {
  overflow: visible;
  height: 0; }

details, main {
  display: block; }

summary {
  display: list-item; }

small {
  font-size: 80%; }

[hidden] {
  display: none; }

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted; }

a {
  background-color: transparent; }

a:active, a:hover {
  outline-width: 0; }

code, kbd, pre, samp {
  font-family: monospace,monospace; }

pre {
  font-size: 1em; }

b, strong {
  font-weight: bolder; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

input {
  border-radius: 0; }

[disabled] {
  cursor: default; }

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto; }

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  resize: vertical; }

button, input, optgroup, select, textarea {
  font: inherit; }

optgroup {
  font-weight: 700; }

button {
  overflow: visible; }

button, select {
  text-transform: none; }

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
  color: inherit; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0; }

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText; }

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button; }

button, input, select, textarea {
  background-color: transparent;
  border-style: none; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

legend {
  border: 0;
  color: inherit;
  display: table;
  white-space: normal;
  max-width: 100%; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit; }

img {
  border-style: none; }

progress {
  vertical-align: baseline; }

@media screen {
  [hidden~=screen] {
    display: inherit; }
  [hidden~=screen]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }

[aria-busy=true] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

input {
  color: #333; }
  input::placeholder {
    color: #ccc; }

button:disabled {
  opacity: .6; }
  button:disabled:hover {
    opacity: .6; }

button:hover {
  opacity: .85; }

li {
  list-style: none; }

.l-opening {
  background: url("./images/background-op.png"); }

.l-entrance {
  background-image: url("./images/background01.png");
  background-size: cover; }

.l-workspace {
  background-image: url("./images/background02.png");
  background-size: cover; }

body {
  font-family: "M PLUS Rounded 1c";
  line-height: 1.4;
  letter-spacing: 0.04em;
  font-size: 16px;
  position: relative;
  color: #333; }

#app {
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  position: relative; }
  #app section {
    width: 100%;
    height: 100%;
    display: none; }
    #app section.is-show {
      display: block; }

.c-comment {
  display: none;
  width: 90%;
  min-height: 220px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 16px;
  margin: auto;
  padding: 12px;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  cursor: pointer; }
  .c-comment.is-show {
    display: block; }
  @media (max-width: 767px) {
    .c-comment {
      bottom: 0; } }

.c-comment_name {
  font-size: 24px;
  font-weight: bold; }

.c-comment_body {
  position: relative;
  width: 100%;
  min-height: 180px;
  margin-top: 8px;
  padding: 12px;
  background: #4E5550;
  border-radius: 0px 0px 16px 16px; }
  .c-comment_body p {
    color: #fff;
    font-size: 24px; }
    @media (max-width: 767px) {
      .c-comment_body p {
        font-size: 20px; } }
  .c-comment_body:after {
    content: "▼";
    position: absolute;
    right: 24px;
    bottom: 8px;
    color: #fff;
    font-size: 24px;
    animation: blink 1.2s ease-in-out infinite; }

@keyframes blink {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: 0; } }

.c-character {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: auto;
  height: 95%;
  transition: .6s; }
  .c-character.is-show {
    opacity: 1;
    visibility: visible; }
  @media (max-width: 767px) {
    .c-character {
      height: 65%;
      bottom: 190px; } }

.c-question {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.55);
  position: relative;
  padding: 80px 0;
  z-index: 10; }
  .c-question.is-show {
    display: flex; }

.c-question_container {
  width: 100%; }

.c-question_title {
  color: #fff;
  font-size: 28px;
  font-weight: bold; }

.c-question_answers {
  margin-top: 40px; }
  .c-question_answers li {
    width: 60%;
    margin: auto; }
    @media (max-width: 767px) {
      .c-question_answers li {
        width: 80%; } }
    .c-question_answers li button, .c-question_answers li a {
      display: block;
      text-decoration: none;
      color: #333;
      width: 100%;
      background: rgba(255, 255, 255, 0.8);
      border: solid 6px #DE5050;
      border-radius: 8px;
      font-size: 22px;
      font-weight: bold;
      padding: 40px 0; }
    .c-question_answers li + li {
      margin-top: 32px; }

.opening-wrap {
  width: 50%;
  margin: auto; }
  @media (max-width: 767px) {
    .opening-wrap {
      width: 90%; } }

.opening-logo {
  width: 100%;
  height: auto;
  margin-top: 80px; }

.opening-input {
  display: block;
  width: 80%;
  height: 64px;
  background: #fff;
  border: solid 1px #ccc;
  border-radius: 8px;
  font-size: 26px;
  margin: 40px auto 0;
  padding: 12px 24px; }
  @media (max-width: 767px) {
    .opening-input {
      width: 100%; } }

.opening-button {
  display: block;
  color: #fff;
  width: 55%;
  font-size: 34px;
  font-weight: bold;
  padding: 12px 0;
  margin: 40px auto 0;
  background: #F33E69;
  border: solid 10px #fff;
  border-radius: 100px; }
  @media (max-width: 767px) {
    .opening-button {
      width: 100%; } }

.l-prologue {
  background: #000; }

/*# sourceMappingURL=style.css.map */